<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <!--<add key="JOBJ80002Papermate" value="\\filestore-uat\Pre-Uat\PolicyLetter\JOBJ80002"/>
		<add key="JOBJ80002Mailroom" value="\\filestore-uat\Pre-Uat\PolicyLetter\JOBJ80002_mailroom"/>
		<add key="logs" value="\\filestore-uat\Pre-Uat\PolicyLetter\Logs"/>-->
    <add key="path" value="\\blanas\POS_EDM\" />
    <add key="temp" value="\\blanas\POS_EDM\Temp\" />
    <add key="logs" value="\\blanas\POS_EDM\Logs\" />
	<add key="limit" value="200" />
	<add key="emailfrom" value="EdorseToEDM@bangkoklife.com" />
	<add key="emailto" value="KANLAYA@bangkoklife.com,PANISSARA@bangkoklife.com,APASARA_U@Bangkoklife.com,UMAPORN@bangkoklife.com" />
	<add key="emailbcc" value="rangsan.chi@bla.co.th,prasert@bangkoklife.com" />
    <add key="ConnectionString" value="DATA SOURCE =//ora-lh.bla.co.th:1521/bla;PERSIST SECURITY INFO=true;USER ID=user;PASSWORD =qwert;pooling=true;Connection Timeout=60;" />
    <!--<add key="ConnectionString" value="DATA SOURCE =//dev.bla.co.th:1521/bla;PERSIST SECURITY INFO=true;USER ID=user;PASSWORD =qwert;pooling=true;Connection Timeout=60;" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBatTrans" />
        <binding name="BasicHttpBinding_IEmailProvider" messageEncoding="Mtom" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEasySolutionSvc" messageEncoding="Mtom" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws6.bla.co.th/BatchTransSvc/BatTrans.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBatTrans" contract="BatchTransSvc.IBatTrans" name="BasicHttpBinding_IBatTrans" />
      <endpoint address="http://pre-uat-02.bla.co.th:88/EasySolutionWcfSvc/EasySolutionWcf.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEasySolutionSvc" contract="EasySolutionWcfSvc.IEasySolutionSvc" name="WSHttpBinding_IEasySolutionSvc">
        <identity>
          <userPrincipalName value="svcblasvcuser@bla.co.th" />
        </identity>
      </endpoint>
      <endpoint address="http://intranetuat.bla.co.th:88/EmailProviderWcfSvc/EmailProviderWcf.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailProvider" contract="EmailProviderWcfSvc.IEmailProvider" name="BasicHttpBinding_IEmailProvider" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>